{% extends 'base.html.twig' %}

{% block title %}
    {% if tousLesExamens == 1 %}
        {% trans %}Tous les résultats des examens{% endtrans %}
    {% endif %}

    {% if examenFait == 1 %}
        {% trans %}Les résultats des examens faits{% endtrans %}
    {% endif %}

    {% if pasEncoreFait == 1 %}
        {% trans %}Les résultats des examens pas encore faits{% endtrans %}
    {% endif %}
{% endblock %}

{% block body %}
<!--Row-->
    <div class="row gx-3">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <h5 class="card-title">
                        {% if tousLesExamens == 1 %}
                            {% trans %}Tous les résultats des examens{% endtrans %}
                        {% endif %}

                        {% if examenFait == 1 %}
                            {% trans %}Les résultats des examens faits{% endtrans %}
                        {% endif %}

                        {% if pasEncoreFait == 1 %}
                            {% trans %}Les résultats des examens pas encore faits{% endtrans %}
                        {% endif %}
                    </h5>
                    <button type="button" class="btn btn-primary mt-1 mb-1 me-3">
                        <span class="badge bg-white text-dark">{{ examens | length|number_format }}</span>
                        <span>{% trans %}examen(s) enregistré(s){% endtrans %}</span>
                    </button>
                </div>
                <div class="card-body">

                    <!-- Table starts -->
                    <div class="table-responsive">
                        {% include "includes/_tableExamens.html.twig" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
