{% extends 'base.html.twig' %}

{% block title %}
	{% if duJour == 1 %}
   		{% trans %}Liste des consultations du jour{% endtrans %}
		{% else %}
   		{% trans %}Liste des consultations{% endtrans %}
	{% endif %}
{% endblock %}

{% block stylesheets %}
	<style>
		th,
		tfoot {
			font-size: 15px !important;
			text-align: center !important;
			font-weight: bold !important;
			background-color: #F1F1F1 !important;
		}

		tr:hover {
			background-color: rgba(62, 128, 235, 0.2) !important;
			color: #3e80eb !important;
		}

        td {
			font-size: 12px !important;
			text-align: center !important;
		}
	</style>
{% endblock %}

{% block body %}
		<!-- App-Content -->
		<div class="row gx-3">
					
			<div class="col-sm-12  mb-5">
				<div class="card">
					<div class="card-header d-flex align-items-center justify-content-between">
						<h3 class="card-title">
							{% if duJour == 1 %}
								{% trans %}Les consultations du jour{% endtrans %}
								{% else %}
								{% trans %}Toutes les consultations{% endtrans %}
							{% endif %}
						</h3>

						<button type="button" class="btn btn-primary mt-1 mb-1 me-3">
							<span class="badge bg-white text-dark">{{ consultations|length|number_format }}</span>
							{% if duJour == 1 %}
								<span>{% trans %}consultation(s) du jours enregistrée(s){% endtrans %}</span>
								{% else %}
								<span>{% trans %}consultation(s) enregistrée(s){% endtrans %}</span>
							{% endif %}
						</button>
					</div>

					<div class="card-body">
						<div class="table-responsive">
							{% include "includes/_tableConsultation.html.twig" %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End app-content-->
<script src="{{ asset ('js/ajoutProduitPanier.js')}}"></script>
<script src="{{ asset ('js/verificationQuantiteNegativeListeProduit.js')}}"></script>
<script src="{{ asset ('js/retireProduit.js')}}"></script>
{% endblock %}