 

        <!-- Row -->
        <div class="row" style="margin-top: 80px;">
            <div class="col-md-12 col-lg-12">
                <div class="card border-primary">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-9">
                            </div>
                            <div class="col-md-3">
                                {% if is_granted('ROLE_INFIRMIERE_AIDE_SOIGNANTE') %}
                                    <a href="{{ path ('prendre_parametre') }}" class="btn btn-outline-primary"><i class="si si-plus me-2"></i>Ajouter une consultation</a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="text-primary">
                            <div class="display-1 mb-5 font-weight-bold error-text" style="font-size: 60px; text-align:center;">{% trans %}Bienvenue{% endtrans %} <br>
                            {{app.user.nom}} <br>
                            {# {{app.user.typeUtilisateur.typeUtilisateur}} #}
                            </div>
                        </div>
                                
                    </div>
                </div>
            </div>
        </div>
        <!--End Row -->
</div>