		{% if app.user %}
			<!-- App footer starts -->
			<div class="app-footer bg-white">
				
				© 2024 -
				<script>
					document.write(new Date().getFullYear());
				</script>
				| <a href="javascript:void(0);">Hospitov</a> |  {% trans %}Tous droits réservés.{% endtrans %}
			
			</div>
			<!-- App footer ends -->
		{% endif %}
		
	</div>
</div>