{% extends 'base.html.twig' %}

{% block title %}
   {% trans %}Chambres par département{% endtrans %}
{% endblock %}

{% block stylesheets %}
	<style>
		th,
		tfoot {
			font-size: 15px !important;
			text-align: center !important;
			font-weight: bold !important;
			background-color: #F1F1F1 !important;
		}

		tr:hover {
			background-color: rgba(62, 128, 235, 0.2) !important;
			color: #3e80eb !important;
		}

        td {
			font-size: 12px !important;
			text-align: center !important;
		}
	</style>
{% endblock %}

{% block body %}
		
			<!-- Row starts -->
            <div class="row gx-3">
              <div class="col-sm-12">
                <div class="card mb-3">
                  <div class="card-header">
                    <h5 class="card-title">{% trans %}Chambres par département{% endtrans %}</h5>
                  </div>
                  <div class="card-body">

                    <!-- Table starts -->
                    
					<div class="table-responsive">
					<table id="basicExample" class="table truncate table-hover align-middle m-0">
						<thead>
							<tr>
								<th width="60px">N°</th>
								<th width="100px">Department</th>
								<th width="100px">Total</th>
								<th width="100px">Individuelle</th>
								<th width="100px">Collective</th>
								<th width="100px">Standard</th>
								<th width="100px">VIP</th>
							</tr>
						</thead>
						<tfoot>
							<tr>
								<th width="60px">N°</th>
								<th width="100px">Department</th>
								<th width="100px">Total</th>
								<th width="100px">Individuelle</th>
								<th width="100px">Collective</th>
								<th width="100px">Standard</th>
								<th width="100px">VIP</th>
							</tr>
						</tfoot>
						<tbody>
							{% set i = 1 %}
							{% for specialite in specialites %}
								<tr>
									<td>{{ i }}</td>
									<td>
									<span class="badge bg-primary text-white">{{ specialite.specialite }}</span>
									</td>
									<td>
									<span class="badge border border-primary text-primary"><i class="ri-circle-fill"></i>
										{{ specialite.chambres|length|number_format}}</span>
									</td>
									<td>
										<button class="btn btn-primary btn-sm" data-bs-toggle="modal"
											data-bs-target="#viewReportsModal1">
											<span class="badge border border-danger text-danger"><i class="ri-circle-fill"></i>
												3</span>
											{% trans %}Afficher{% endtrans %}
										</button>
									</td>
									<td>
										<button class="btn btn-info btn-sm" data-bs-toggle="modal"
											data-bs-target="#viewReportsModal1">
											<span class="badge border border-danger text-danger"><i class="ri-circle-fill"></i>
												3</span>
											{% trans %}Afficher{% endtrans %}
										</button>
									</td>
									<td>
									<button class="btn btn-warning btn-sm" data-bs-toggle="modal"
											data-bs-target="#viewReportsModal1">
											<span class="badge border border-danger text-danger"><i class="ri-circle-fill"></i>
												3</span>
											{% trans %}Afficher{% endtrans %}
										</button>
									<td>
										<button class="btn btn-dark btn-sm" data-bs-toggle="modal"
											data-bs-target="#viewReportsModal1">
											<span class="badge border border-danger text-danger"><i class="ri-circle-fill"></i>
												3</span>
											{% trans %}Afficher{% endtrans %}
										</button>
									</td>
									
								</tr>
								{% set i = i + 1 %}

								<!-- Modal View All Reports -->
								<div class="modal fade" id="viewReportsModal1" tabindex="-1" aria-labelledby="viewReportsModalLabel1"
								aria-hidden="true">
								<div class="modal-dialog modal-xl">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="viewReportsModalLabel1">
												{% trans %}Liste des chambres : {% endtrans %}
											</h5>
											<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
										</div>
										<div class="modal-body">

											<!-- Row starts -->
											<div class="row g-3">
											<div class="col-sm-2">
												<a href="#" class="d-flex flex-column bg-light p-2 rounded-2 text-center"
												data-bs-target="#viewReportsModal2" data-bs-toggle="modal">
												<img src="assets/images/report.svg" class="img-fluid rounded-2" alt="Medical Dashboards">
												<h6 class="mt-3 mb-1 text-truncate">Clinical Report</h6>
												<p class="m-0 small">10/05/2024</p>
												</a>
											</div>
											<div class="col-sm-2">
												<a href="#" class="d-flex flex-column bg-light p-2 rounded-2 text-center"
												data-bs-target="#viewReportsModal2" data-bs-toggle="modal">
												<img src="assets/images/report.svg" class="img-fluid rounded-2" alt="Medical Dashboards">
												<h6 class="mt-3 mb-1 text-truncate">Dentist Report</h6>
												<p class="m-0 small">20/06/2024</p>
												</a>
											</div>
											<div class="col-sm-2">
												<a href="#" class="d-flex flex-column bg-light p-2 rounded-2 text-center"
												data-bs-target="#viewReportsModal2" data-bs-toggle="modal">
												<img src="assets/images/report.svg" class="img-fluid rounded-2" alt="Medical Dashboards">
												<h6 class="mt-3 mb-1 text-truncate">Glucose Report</h6>
												<p class="m-0 small">30/06/2024</p>
												</a>
											</div>
											<div class="col-sm-2">
												<a href="#" class="d-flex flex-column bg-light p-2 rounded-2 text-center"
												data-bs-target="#viewReportsModal2" data-bs-toggle="modal">
												<img src="assets/images/report.svg" class="img-fluid rounded-2" alt="Medical Dashboards">
												<h6 class="mt-3 mb-1 text-truncate">X-ray Report</h6>
												<p class="m-0 small">26/08/2024</p>
												</a>
											</div>
											<div class="col-sm-2">
												<a href="#" class="d-flex flex-column bg-light p-2 rounded-2 text-center"
												data-bs-target="#viewReportsModal2" data-bs-toggle="modal">
												<img src="assets/images/report.svg" class="img-fluid rounded-2" alt="Medical Dashboards">
												<h6 class="mt-3 mb-1 text-truncate">Ultrasound Report</h6>
												<p class="m-0 small">21/08/2024</p>
												</a>
											</div>
											<div class="col-sm-2">
												<a href="#" class="d-flex flex-column bg-light p-2 rounded-2 text-center"
												data-bs-target="#viewReportsModal2" data-bs-toggle="modal">
												<img src="assets/images/report.svg" class="img-fluid rounded-2" alt="Medical Dashboards">
												<h6 class="mt-3 mb-1 text-truncate">Hypothermia Report</h6>
												<p class="m-0 small">15/04/2024</p>
												</a>
											</div>
											<div class="col-sm-2">
												<a href="#" class="d-flex flex-column bg-light p-2 rounded-2 text-center"
												data-bs-target="#viewReportsModal2" data-bs-toggle="modal">
												<img src="assets/images/report.svg" class="img-fluid rounded-2" alt="Medical Dashboards">
												<h6 class="mt-3 mb-1 text-truncate">Discharge Report</h6>
												<p class="m-0 small">22/07/2024</p>
												</a>
											</div>
											<div class="col-sm-2">
												<a href="#" class="d-flex flex-column bg-light p-2 rounded-2 text-center"
												data-bs-target="#viewReportsModal2" data-bs-toggle="modal">
												<img src="assets/images/report.svg" class="img-fluid rounded-2" alt="Medical Dashboards">
												<h6 class="mt-3 mb-1 text-truncate">Diabetes Report</h6>
												<p class="m-0 small">17/05/2024</p>
												</a>
											</div>
											</div>
											<!-- Row ends -->

										</div>
									</div>
								</div>
								</div>
							{% endfor %}
							
						</tbody>
					</table>
					</div>
                    
                    <!-- Table ends -->

                  </div>
                </div>
              </div>
            </div>
            <!-- Row ends -->
		</div>
	</div>
{% endblock %}